<section class="amain-wrapper w-100">
    <div class="section-1 position-relative">
        <img src="https://static.wixstatic.com/media/11062b_c094368592194853975b6a9305c5add0~mv2.jpg/v1/fill/w_1349,h_820,al_c,q_85,usm_0.66_1.00_0.01/11062b_c094368592194853975b6a9305c5add0~mv2.webp">
        <div class="mid-div">
            <span>The missing ingredient to your healthiest self</span>
            <button mat-stroked-button (click)="OnSubmit()">Take the quiz</button>
        </div>
    </div>
    <div class="section-3 position-relative">
        <div class="row m-0">
            <div class="col-lg-6 p-0">
                <div class="left-content">
                    <h2 class="title">Ayurveda</h2>
                    <p class="sub-title">The missing ingredient to your healthiest self</p>
                    <p class="content">Explore the exciting world of Ayurveda and discover just what you need to feel healthier and happier. One simple quiz will create a personalised ayurvedic regimen designed specifically for your health goals. Be closer to nature with
                        this completely natural and organic medicine. These incredible ancient remedies will be easily available for purchase at an affordable price. With Ayurveda, good health is effortless and inexpensive.</p>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <img class="w-100" src="https://static.wixstatic.com/media/22105eedd86044f9afb37e08fbbd0a62.jpg/v1/fill/w_675,h_698,al_c,q_85,usm_0.66_1.00_0.01/22105eedd86044f9afb37e08fbbd0a62.webp">
            </div>
        </div>
    </div>
    <div class="section-4 position-relative">
        <img class="w-100" src="https://static.wixstatic.com/media/29ecd561610d428a8730c5c4c22450ac.jpg/v1/fill/w_1349,h_345,al_c,q_85,usm_0.66_1.00_0.01/29ecd561610d428a8730c5c4c22450ac.webp">
    </div>
</section>