<div class="footer-main">
    <div class="row m-0">
        <div class="col">
            <a class="title">
                <span>Ayurveda</span>
            </a>
        </div>
        <div class="col">
            <ul>
                <li>
                    <p>
                        <a>Home</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a>Shop All</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a>Our Story</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a>Our Craft</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>
                    <p>
                        <a>FAQ</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a>Shipping & Returns</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a>Store Policies</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a>Payment Methods</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>
                    <p>
                        <a>Facebook</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a>Instagram</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a>Twitter</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a>Pinterest</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col footer-contact">
            <h4>JOIN US !</h4>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email">
                </mat-form-field>
                <button mat-stroked-button class="contact_form_btn">Send</button>
            </form>
        </div>
    </div>
</div>