<section class="science-of-ayur w-100">
    <div class="row m-0">
        <div class="col-lg-6 p-0">
            <div class="left-content">
                <h2>The Science of Ayurveda</h2>
                <p>Ayurveda is a natural form of medicine which originated in India more than 3000 years ago. It comes from the Sanskrit words Ayur- life and veda- science making Ayurveda, the science of life. Ayurveda strives to find balance between the
                    mind, the body and your environment. This balance allows the body to be in its healthiest state. This balance is reached through an intricate blend of herbs which work to eliminate impurities, reduce stress, increase they body's defenses
                    and in general improve general wellbeing.</p>
                <button mat-stroked-button class="disc_btn">Discover more</button>
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <div class="right-content">
                <img class="sa_leaf" src="https://static.wixstatic.com/media/c4c62b96e0d24d89b1736f68399a0f48.jpg/v1/fill/w_675,h_650,al_c,q_85,usm_0.66_1.00_0.01/c4c62b96e0d24d89b1736f68399a0f48.webp">
            </div>
        </div>
    </div>
    <div class="row m-0 pt-5">
        <div class="w-100">
            <div class="card-group">
                <div class="card">
                    <img src="https://static.wixstatic.com/media/22105eedd86044f9afb37e08fbbd0a62.jpg/v1/crop/x_0,y_412,w_3259,h_4066/fill/w_311,h_388,al_c,q_80,usm_0.66_1.00_0.01/Herbs.webp" class="card-img-top" alt="..." />
                    <div class="d-flex justify-content-center">
                        <button mat-stroked-button class="crd_btn">Immunity</button>
                    </div>
                    <div class="card-body">
                        <h2>Strengthen your body's defences</h2>
                        <p>Strengthen your immune system and feel strong and healthy.</p>
                        <button mat-stroked-button class="rdm_btn border-0">
                            Read More <mat-icon>open_in_new</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img src="https://static.wixstatic.com/media/9b19d33d91824ce19453a0b3daac73df.jpg/v1/crop/x_1341,y_0,w_3078,h_3840/fill/w_311,h_388,al_c,q_80,usm_0.66_1.00_0.01/Fitness%20Tracker.webp" class="card-img-top" alt="..." />
                    <div class="d-flex justify-content-center">
                        <button mat-stroked-button class="crd_btn">Fitness</button>
                    </div>
                    <div class="card-body">
                        <h2>Maximise your energy</h2>
                        <p>Make this yours. Add images, text and links, or connect data from your collection.</p>
                        <button mat-stroked-button class="rdm_btn border-0">
                            Read More <mat-icon>open_in_new</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img src="https://static.wixstatic.com/media/134ea37dd1ed4dd282e0610808ba928a.jpg/v1/crop/x_1040,y_0,w_1600,h_1995/fill/w_311,h_388,al_c,q_80,usm_0.66_1.00_0.01/Herbs.webp" class="card-img-top" alt="..." />
                    <div class="d-flex justify-content-center">
                        <button mat-stroked-button class="crd_btn">Skin</button>
                    </div>
                    <div class="card-body">
                        <h2>Key to healthy glowing skin</h2>
                        <p>Make this yours. Add images, text and links, or connect data from your collection.</p>
                        <button mat-stroked-button class="rdm_btn border-0">
                            Read More <mat-icon>open_in_new</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>