<section class="amain-wrapper w-100">
    <div class="section-1 position-relative">

        <div class="mid-div">
            <form [formGroup]="surveyForm">

                <span [innerHTML]="question.QuestionName"></span> <br /> <br />

                <span *ngIf="question.QuestionType=='TextBox'"> <input type="text" formControlName="questionControl"
                        class="form-control" /> </span>
                <span>
                    <span *ngFor="let a of question.Options; let index = index">
                        <span [innerHTML]="a.OptionValue"  (click)="Next(a.OptionId)"> </span> <br />
                </span>
                </span>
                <span *ngIf="question.QuestionType=='TextBox'">
                    <button mat-stroked-button (click)="Next(0)">Next</button>
                </span>
            </form>
        </div>
    </div>
</section>