/* You can add global styles to this file, and also import other style files */

@import url("./../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font: 15px/24px "Poppins", "sans-serif";
}

html,
body {
    width: 100%;
    height: 100%;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

.form-control {
    padding: 25px 25px 25px 5px;
    font-size: 14px;
    border-radius: 0;
}

.input100 {
    display: block;
    width: 100%;
    background: 0 0;
    padding: 10px 0px 12px;
    font-size: 14px;
    color: #9b9b9b;
}

.quiz-container {
    width: 900px;
    margin: 0 auto;
    padding-top: 50px;
}

.question-title {
    font-size: 46px;
}

.question-responses {
    padding-top: 50px;
}

.textbox-xl {
    width: 320px;
    padding: 40px 15px;
    margin: 0 auto;
}

.question-choice-icon {
    width: 150px;
    margin-top: 20px;
}

.multiselect-card {
    background: #f9f9f9;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    font-size: 24px;
}

.multiselect-card:hover,
.multiselect-card:focus {
    background: #eeeeee;
    border: 1px solid #999999;
}

.page8 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page8 ul li {
    list-style: none;
    float: left;
    text-align: center;
    width: 18%;
    margin-left: 15px;
}

.page8 img {
    width: 100px;
}

.page9 .question-responses img {
    width: 250px;
}

.page10 .question-responses img {
    width: 200px;
}

.responseIcon {
    font-size: 100px;
    text-align: center;
}

.title-Position {
    padding-top: 50px;
}

.text-black {
    color: #000;
}

.text-black:hover {
    color: blue;
}

.btn-pad {
    padding-top: 35px;
}